#page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
            "main"
            "foot";
    grid-template-rows: 1fr 200px;
    grid-template-columns: 1fr;
}

#page > main {
    grid-area: main;
}

#page > footer {
    grid-area: foot;
    background-color: #8cffa0;
}

.term-grid {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr 4fr ;
    grid-gap: 10px;
    color: #222;
    border-bottom: 1px solid #ddd;
    padding: 1em 1em;
}


.term-grid:nth-child(2n + 3){
    background: #f7f7f7;
}


.wrapper {
    /*padding: 0 0em;*/
}

.term-grid label:nth-child(n + 1){
    font-weight: 800;
    text-align: center;
}

.term-grid label:last-child{
    font-weight: 800;
    text-align: left;
}

.btn-next-prev{
    float: right;
}



.next,.prev{
    text-align: center;
    background: orange;
    border: 1px solid transparent;
    border-radius: 3px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1rem;
    margin: 10px 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.next{
    margin-left: 1rem;
}
.info{
    color: darkgray;
    font-weight: 600;
    font-size: 12px;
    padding-left: 10px;
}

.info a:link{
    color: gray;
}
.info a:hover {
    color: orange;
}

.info .author{
   color: #696969;
}


.up_votes_img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
}

.grid-header {
    border-bottom: unset;
    background: orange;
    color: white;
}

@media screen and (max-width: 600px)  {
    .term-grid {
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
    }

    .term-grid label:first-child {
        text-align: left;
        margin: 0;
    }

    .alternate {
        margin-top: -10px;
        font-style: italic;
        order: 1;
    }

    .definition {
        order: 2;
    }

    .grid-header {
        display: none;
    }
}

